appnope==0.1.0
backcall==0.1.0
bleach==3.0.2
CensusData==1.2
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cloudpickle==0.6.1
configparser==3.5.0
cycler==0.10.0
dask==1.0.0
decorator==4.3.0
defusedxml==0.5.0
docopt==0.6.2
dowhy==0.1.0
entrypoints==0.2.3
graphviz==0.10.1
h5py==2.9.0
html5lib==1.0.1
idna==2.8
ipykernel==5.1.0
ipyparallel==6.2.3
ipython==7.2.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.2
Jinja2==2.10
joblib==0.12.5
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.4
jupyter-console==6.0.0
jupyter-contrib-core==0.3.3
jupyter-contrib-nbextensions==0.5.1
jupyter-core==4.4.0
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.0
jupyternotify==0.1.15
kiwisolver==1.0.1
libxml2-python==2.9.8
locket==0.2.0
lxml==4.3.0
MarkupSafe==1.1.0
matplotlib==3.0.2
mistune==0.8.4
mpmath==1.1.0
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nose==1.3.7
notebook==5.7.4
numpy==1.15.4
nxpd==0.2.0
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
partd==0.3.9
patsy==0.5.1
pexpect==4.6.0
pickleshare==0.7.5
pipreqs==0.4.9
prometheus-client==0.5.0
prompt-toolkit==2.0.7
ptyprocess==0.6.0
pycairo==1.18.0
pycodestyle==2.4.0
pydot==1.4.1
pyflakes==2.0.0
Pygments==2.3.1
PyGObject==3.30.4
pymatch==0.3.3
pymc3==3.6
pyparsing==2.3.0
python-dateutil==2.7.5
pytz==2018.7
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.3
requests==2.21.0
rpy2==2.9.5
scikit-learn==0.20.2
scipy==1.2.0
seaborn==0.9.0
Send2Trash==1.5.0
Shapely==1.6.4.post2
simplegeneric==0.8.1
six==1.12.0
statsmodels==0.9.0
sympy==1.3
TBB==0.1
terminado==0.8.1
testpath==0.4.2
Theano==1.0.3
toolz==0.9.0
tornado==5.1.1
tqdm==4.28.1
traitlets==4.3.2
tzlocal==1.5.1
urllib3==1.24.1
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
wpm==1.51.3
yapf==0.25.0
yarg==0.1.9
